:root{
    --clr-primary : #756AB6;
    --clr-white:#FFFFFF;
    --clr-dark:#3c3232;
    --clr-light-blue:#E8F0FE;
    --clr-danger : #FF004D;
    --clr-success:#A1EEBD;
    --clr-warning:#FFCF81;
}

*,*::after,*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Nunito Sans',sans-serif;
}

html{
    font-size:62.5%;
}

html,body{
    height:100%;
    background-color: var(--clr-primary);
}

button,.button{
    cursor: pointer;
    width: 100%;
    max-width: 100%;
    font-family: 'Nunito Sans',sans-serif;
    padding: 1rem 0;
    border:none;
    outline: none;
    border-radius: .5rem;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .2rem;
    transition: transform .1s ease;
}

select{
    width:100%;
    max-width: 100%;
}


button:active,.button:active{
    transform: translateY(.1rem);
}

a{
    text-decoration: none;
}

ul,li{
    list-style: none;
}

h1,h2,h3,h4,h5,h6,p,a{
    color: var(--clr-dark);
   
}

.container{
    width:136rem;
    max-width: 100%;
    margin:0 auto;
}

.h-100{
    min-height:100vh;
}

.d-flex{
    display: flex;
}

.flex-direction-column{
    flex-direction: column;
}

.gap-2{
    gap: 2rem;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.mt-2{
    margin-top: 2rem;
}

/* buttons style starts from here */
.btn-primary{
    background-color: var(--clr-primary);
    color: var(--clr-white);
}

.btn-primary:hover{
    box-shadow: 0 .5rem 1rem 0 rgb(117, 106, 182,50%);
}

.btn-danger{
    background-color: var(--clr-danger);
    color: var(--clr-white);
}

.btn-warning{
    background-color: var(--clr-warning);
    color: var(--clr-white);
}

.btn-success{
    background-color:var(--clr-success);
    color: var(--clr-dark);
    font-weight: 600;
    letter-spacing: initial;
    padding-left: 1rem;
    padding-right:1rem;
}


/* button style ends here*/

/* styling for alert */
.alert{
    display: block;
    width: 100%;
    max-width: 100%;
    height:4rem;
    box-shadow: 0 0 1rem rgb(0, 0, 0,20%);
    padding:2rem;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: .5rem;
    font-size: 1.4rem;
}

.alert.alert_danger{
    background-color: var(--clr-danger);
    color: var(--clr-white);
    font-weight: 600;
}

.alert.alert_success{
    background-color: var(--clr-success);
    color: var(--clr-dark);
    font-weight: 600;
}
/* styling for alert ends here*/

/*auth forms*/

.authForm{
    width:40rem;
    max-width:100%;
    background-color: var(--clr-white);
    padding:1rem;
    border-radius: 1rem;
}

.authForm__title{
    text-transform: uppercase;
    font-size: 1.8rem;
}

.authForm__wrapper{
    display: block;
    max-width: 100%;
}

.authForm__wrapper_controller{
    width:100%;
    max-width: 100%;
    font-size: 1.6rem;
    padding:1.2rem;
    border:.1rem solid var(--clr-primary);
    background-color: var(--clr-light-blue);
    border-radius: .5rem;
    outline: none;
}

.authForm__wrapper_controller::placeholder{
    font-family: 'Nunito Sans',sans-serif;
    color: var(--clr-dark);
    font-size: 1.4rem;
    font-weight: 600;
}

.authForm__wrapper_avatar{
    display: block;
    width:10rem;
    height:10rem;
    margin:0 auto;
    border: .1rem solid rgb(0, 0, 0,20%);
    border-radius: 50%;
    background: url('../icons/upload.svg') no-repeat center, var(--clr-light-blue);
}

.authForm__wrapper_avatar > input[type="file"]{
    height:0;
    width:0;
    display:none;
}
/* list styling*/
.list{
    padding: 2rem;
    background-color: var(--clr-white);
    width: 100%;
    max-width: 100%;
    border: 1px solid;
    font-size: 1.4rem;
    text-align: center;
}

.list > thead{
    font-size: 1.6rem;
}
 td > img{
    width:5rem;
    max-width: 5rem;
    object-fit: contain;
}

/*list styling ends here*/